
.nav-item{
    padding-left: 2rem;
    font-size: 1.2rem;
}

.cards{
    margin-top: 30px;
    margin-bottom: 2rem;
}

.card img{
    transition: transform .5s ease;
}

.card img:hover{
    transform: scale(1.2);
}

